*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}
section::before{
    content: ' ';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#fb00ffad,#00fff8bf);
    border-radius: 50%;
    transform: translate(-200px,-100px);
}
section::after{
    content: ' ';
    position: absolute;
    width: 360px;
    height: 360px;
    background:linear-gradient(rgb(255 0 0 / 70%),rgb(255 212 0));
    border-radius: 50%;
    transform: translate(200px,100px);
}

.box{
    position: relative;
    z-index: 100;
}
.container{
    position: relative;
    width: 400px;
    min-height: 400px;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: rgb(200, 200, 200,0.1);
    box-shadow:  0 25px 45px rgba(0, 0, 0, 11%);
    border: 2px solid rgb(200,200,200,0.5);
    border-right: 2px solid rgb(200,200,200,0.1);
    border-bottom: 2px solid rgb(200,200,200,0.1);
    backdrop-filter: blur(20px);
}

#dycalendar{
    width: 100%;
    /* height: 200px; */
    padding: 20px;
    
}

#dycalendar table{
    width: 100%;
    margin-top: 40px;
    border-spacing: 5px;
}

#dycalendar table tr:nth-child(1) td{
    background: white ;
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

#dycalendar table td{
    color: rgb(247, 243, 243);
    padding:  10px;
    border-radius: 5px;
}

#dycalendar table td:hover{
    background-color: white;
    color: black  !important;
}

.dycalendar-month-container .dycalendar-today-date, .dycalendar-month-container .dycalendar-target-date {
    background-color: white;
color: black  !important;
font-weight: 600
}

#dycalendar table tr:nth-child(1) td.sunday {
    background: rgb(236, 13, 13);
    color: black;
    border-radius: 5px;
    font-weight: 600;
}

/* .dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.prev-btn{
    background-color: white;
    color: black  !important;
} */

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn{
    background-color: white;
    color: black !important;
    width: 25px;
    height: 25px;
    border-radius: 1px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dycalendar-month-container .dycalendar-span-month-year{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}
